footer{
    background-color: #47141e;
    padding: 20px;
    color: #fff;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lato', sans-serif;
}

footer a {
    color: #fff;
}

footer a:hover{
    color: #f69a91;
}